<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/dashboard/rooms">Rooms</a>
    <h1>Rooms</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>action</th>

            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td><a href="{% url 'app:room_detail' room.id %}">{{ room.id }}</a></td>
                <td><a href="/room/{{room.name}}/user"></a>{{ room.name }}</td>
                <td>
                    <ul>
                        <li><button class="button" onclick="update_room('{{room.name}}', 'waiting')">waiting</button></li>
                        <li><button class="button" onclick="update_room('{{room.name}}', 'enter clue 1')">enter clue 1</button></li>
                        <li><button class="button" onclick="update_room('{{room.name}}', 'enter clue 2')">enter clue 2</button></li>
                        <li><button class="button" onclick="update_room('{{room.name}}', 'game turn')">game turn</button></li>
                        <li><button class="button" onclick="update_room('{{room.name}}', 'game over')">game over</button></li>
                    </ul>  
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<script>
    const update_room = (room, action) => {
        console.log("update_room hit", room)
        adminSocket.send(JSON.stringify({
            'action': action,
            'message': 'message',
            'username': 'userName',
            'room': room
        }));        
    }
    let web_protocol
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"
    const adminSocket = new WebSocket(
            web_protocol
        + window.location.host
        + '/ws/admin/admin/none'
        // + "test2"
        // + '/'
        );
</script>
</body>
</html>